/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/* jombotron */
.jumbotron {
    background-image: url(../img/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.4);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;

}

/* tombol*/
.tombol {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "per";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 200px;
    height: 50px;
}

.tombol1,
.tombol2 {
    color: #3498db;
}

.tombol3,
.tombol4 {
    color: #fff;
}

.tombol1:hover,
.tombol2:hover {
    color: #fff;
}

.tombol3:hover,
.tombol4:hover {
    color: #3498db;
}

.tombol::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;

}

.tombol1::before,
.tombol3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.tombol2::before,
.tombol4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.tombol3::before,
.tombol4::before {
    height: 180%;
}

.tombol1:hover::before,
.tombol2:hover::before {
    height: 180%;
}

.tombol3:hover::before,
.tombol4:hover::before {
    height: 0%;

}

/* utility */

.tombol_b {
    text-transform: uppercase;
    border-radius: 40px;
    width: 120px;
    ;

}

/* info panel */
.container .info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: #fff;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16 px;
    text-transform: bold;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacaa;
    margin-top: -5px;
    font-weight: 200;
}

/* workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 20px;
    font-weight: 200;
    color: #acacaa;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* testinomial */
.testinomial {
    margin-top: 100px;
}

.testinomial h5 {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 32px;
}

.testinomial figure img {
    width: 90px;
    margin-top: 40px;
}

.testinomial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: rgb(7, 45, 97);
}

.testinomial figure p {
    font-size: 12px;
    color: #acacaa;
    margin-top: 5px;
}

.testinomial figcaption {
    text-align: center;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: rgb(255, 255, 255) !important;
        text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;

    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .workingspace h3 {
        margin-top: -10px;
    }


}